// =============================================================================
// Variables
// =============================================================================

// COLORS
$darkBlue: #293037;
$medBlue: #71767d;
$popBlue: #0fb9e6;
$popBlueShadow: #0e7792;
$white: #ffffff;
$grey: #f1f2f3;
$black: #252b31;

// FONTS
$bodyFont: "locator-web", sans-serif;
$altFont: "bryant-web", sans-serif;

// =============================================================================
// Layout
// =============================================================================

html {
  line-height: 1.5;
}

p {
  margin-top: 0;
}

body {
  background: $darkBlue url(../img/bg-wood-texture.jpg) 0 0 repeat;
  font-family: $bodyFont;
  color: $black;
  margin: 0 1em;
}

h1, h2, h3, h4, h5 {
  line-height: 1.2;
  color: $darkBlue;
  margin-bottom: 0.33em;
}

h1 {
  font-weight: 300;
}

h2, h3, h4 {
  font-weight: 700;
}

h5 {
  font-family: $altFont;
  font-weight: 700;
  text-transform: uppercase;
  color: $medBlue;
}

a {
  color: $popBlue;
  &:hover, &:active {
    color: darken($popBlue, 15%);
  }
  &:visited {
    color: darken($popBlue, 15%);
  }
}

a.button {
  display: inline-block;
  float: left;
  font-family: $altFont;
  font-weight: 700;
  text-transform: uppercase;
  color: $white;
  background: $popBlue;
  padding:1em 0.75em 0.75em 0.75em;
  text-decoration: none;
  text-shadow: $popBlueShadow 1px 1px 1px;
  border-radius: 0.3em;
  -moz-box-shadow: 0 3px $popBlueShadow, 0 5px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 3px $popBlueShadow, 0 5px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px $popBlueShadow, 0 5px 2px rgba(0, 0, 0, 0.25);
}

// Main Page Container
#container {
  max-width: 51.9em;        // 830px
  margin: 2.5em auto;       // 40px
  padding: 1.25em 2.5em;    // 20px, 40px
  background-color: $white;
  border-radius: 0.6em;
  header {
    background: url(../img/header-div.png) bottom left repeat-x;
    padding: 0 2.5em 30px;
    margin: 0 -2.5em;
    h1 {
      margin: .4em 0 0;
    }
    h5 {
      margin-top: 0;
    }
  }

  div.share {
    margin-top: -.4em;
    margin: -.4em 0 1.25em;
    @include clearfix;
    a.twitter-share-button, a.twitter-follow-button {
      visibility: hidden;
    }
    iframe.twitter-follow-button {
      float: right;
    }
  }

  footer {
    @include clearfix;
    background-color: $grey;
    // reset footer margin & padding so that bg color reaches edge of container
    margin: 1em -2.5em -1.25em -2.5em;
    padding: 1.25em 2.5em;
    border-bottom-left-radius: 0.6em;
    border-bottom-right-radius: 0.6em;
    p {
      margin: 0;
    }
    h5 {
      margin-top: 0;
    }
  }
}

// 1/3 Split Containers
div.third-split {
  width: 33%;
  float: left;
}

// Photoset Grid Demos
div.photoset-grid, div.photoset-grid-alt {
  margin: 2em 0 3em 0;
}

// Code Snippets
code {
  display: inline-block;
  padding: 0 0.35em;
  color: $darkBlue;
  background: $grey;
  font-size: 0.9em;
}

pre {
  display: block;
  margin: 0 0 1.5em 0;
  background: $darkBlue;
  color: $grey;
  font-size: 0.9em;
  code {
    background: inherit;
    color: inherit;
  }
}

@media (max-width: 660px) {
  iframe.twitter-tweet-button {
    width: 104px !important;
  }
  #container div.share iframe.twitter-follow-button {
    float: none;
    width: 214px !important;
  }
}

/*
  Bryant-Web
  bold: 700 normal

  Locator-Web
  light: 300
  regular: 400 normal
  italic: 400 italic
  bold: 700 normal
  bold italic: 700 italic

*/